{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set New Password | BloodConnect</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'donor/css/authentif.css' %}">
</head>
<body>

<div class="newpassword-card p-4 shadow">
    <!-- Logo -->
    <div class="text-center mb-3">
            <img src="{% static 'donor/images/bloodconnet.png' %}" alt="Logo" class="logo">
    </div>

    <!-- Set New Password Text -->
    <h5 class="text-center text-signin mb-4">Set Your New Password</h5>

    <!-- New Password Form -->
    <form method="POST" action="{% url 'reset_password' %}">
        {% csrf_token %}
        <input type="hidden" name="user_type" id="user_type" value="donor">
        <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
        <input type="email" name="email" class="form-control mb-3"  placeholder="Email" required>
        </div>

        <div class="mb-3">
            <label for="new_password1" class="form-label">New Password</label>
            <input type="password" name="new_password1" class="form-control" id="new_password1" placeholder="Enter new password" required>
        </div>

        <div class="mb-3">
            <label for="new_password2" class="form-label">Confirm New Password</label>
            <input type="password" name="new_password2" class="form-control" id="new_password2" placeholder="Confirm new password" required>
        </div>

        <button type="submit" class="btn btn-login w-100 mb-3">Set Password</button>
    </form>

    <div class="text-center">
        <a href="{% url 'loginView' %}" class="forgot-password">Back to Login</a>
    </div>
</div>


<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<script>
function switchUser(type){
    document.getElementById('user_type').value = type;

    document.getElementById('donor-btn').classList.remove('active');
    document.getElementById('hospital-btn').classList.remove('active');

    if(type==='donor'){
        document.getElementById('donor-btn').classList.add('active');
    } else {
        document.getElementById('hospital-btn').classList.add('active');
    }
}
</script>

</body>
</html>  